<div class="container">
  <div class="note">Note: Press Enter to submit answer</div>
  <div>
    <span>{{ firstRandomNumber }}</span>
    <span>+</span>
    <span>{{ secondRandomNumber }}</span>
    <span>=</span>
    <input type="number" [(ngModel)]="total" (keyup.enter)="checkTotalValue()">
  </div>
  <div>
    <span *ngIf="showCorrectAnswerMessage && submitButtonClicked">Your answer is correct</span>
    <span *ngIf="!showCorrectAnswerMessage && submitButtonClicked">Your answer is incorrect</span>
  </div>
  <div class="averageTimeInfo">{{ averageTimeForSolution | number:'1.0-1' }} seconds per solution</div>
</div>